* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: 'Cabin Condensed', sans-serif;/* Declare the base font-family */
    background-color:antiquewhite;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 80%;
    margin: auto;
    padding: .0rem;/* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    background-color: antiquewhite;
}
header h1 {}

header img {
    width: 200px;
    height: 100px;
    display: block;
    margin: auto;
}
header .subheading {}

nav {
    background-color:cadetblue;
    text-align:center;

}

.hamburger {font-family: 'Cabin Condensed', sans-serif;border:none;}


.navigation li { display: none; }

@media only screen and (max-width: 37.5em) {
     .responsive li {display: block; margin: 2px 0;	border: 1px solid #ddd; }
    }

@media only screen and (min-width: 37.5em) {
    header,	nav { 	max-width: 80%;	}
    .hamburger { display: none;	}
    .navigation li { display: inline-block; }
    .grid {display: grid;}



}
nav button {
    background-color: cadetblue;
    color:#fff;
    font-size: 30px;



}
nav ul {
    list-style-type: none;
    padding: 0;
    margin:0;
    overflow: hidden;
}
nav ul li a {
    display: block;
    color: white;
    border-bottom: 1px solid rgba(255,255,255, .3);
    text-align: center;
    padding: .75rem;
    text-decoration:none;
    font-size: 1.2rem

}
nav ul li.active a {}
nav ul li a:hover {
    background-color:brown;

}
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main img {
    width:100%;
    height: auto;
}
main figure img { }
table {
    width:50%;
    border: 1px solid black;
    border-collapse: collapse;
    margin:auto;
}
table th{
    border:1px solid black;
}

table td{
    border: 1px solid black;
    text-align: center;

}
main article img {
    width: 100%;
    height: auto;
    margin: 7px;
    box-shadow: 3px 3px 3px #bbb;

}

main article {
    padding: .50rem;
    text-align:justify;

}

footer {
    clear:both;
    background-color: antiquewhite;
    text-align: center;
    padding: 30px;
}

/*-----------------------------class slectors---------------------------------------*/

/*.forecast belong to the old weather summary display
.forecast {display:none;}
.weather-summary{
    word-spacing: 50px;
    font-size: 1.6rem;
    padding:20px;
background-color:coral;
}*/


.form {background-color:coral; padding: 1rem; border:1px solid coral;font-size: 1.6rem;}
div {background-color:#fff; padding: 1rem; border:5px solid coral;}
#ws {border:5px solid #ffff; background-color:#ffff; text-align:center;}
#t {border:5px solid #ffff; background-color:#ffff; text-align:center;}

/*------------------------------Gallery grid and flex box-------------------*/




.grid {
    grid-template-columns: 1fr 1fr 1fr;

}






/* hover effect - not anchor tags around images */

/* rounded corners - boxmodel */

/*-----------------------------------STORM CENTER-------------------------------*/

form fieldset{
margin: 2rem 0;
border: 1px solid #445ba9;
border-radius: 10px;
padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding 0 .5rem;

}








